<!DOCTYPE html>
<html lang="zh-hans">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>管理过度使用的 KVM 主机上的资源</title>
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap.css" >
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap-theme.css.map" >
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" >
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap-theme.css" >
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap.min.css" >
      <link rel="stylesheet" type="text/css" href="/other files/bootstrap-3.3.2-dist/css/bootstrap.css.map" >
      
      <script src="other files/jquery-2.1.3.min.js"></script>
      <script src="other files/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
      <script src="other files/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>


   </head>

   <body>
      {{ content }}
   </body>
</html>
